* {
  box-sizing: border-box;
}


.card {
  /* padding: .25rem; */
  border: solid black 4px;
  /* background-color: black;
  color: white; */
}

/* .card-body {
  color: white;
} */

.actions {
  text-align: right;
}


.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* .modal {
  opacity: 100%;
  background-color: rgb(36, 36, 36);
} */
.modal-content {
  background-color: rgb(76, 3, 3);
  color:rgb(255, 255, 255);
}
